{% extends 'general/layout.html' %}
{% load i18n %}

{% block head_title %}{% trans "Página detalle de Autor" %}{% endblock%}
{% block page_title %}{% trans "Autor" %}{% endblock%}

{% block page_content %}
    {% if autor %}
        <h2>{% trans "Nombre del autor" %}: {{ autor.nombre }} </h2>
        <p>{% trans "ID del Autor" %}: {{ autor.id }} </p>
        <p>{% trans "Fecha de nacimiento" %}: {{ autor.fecha_nacimiento|date:'d/m/y' }} </p>
        <!-- En este bloque estoy validando que primero esté logueado el usuario para que puedan aparecer los botones de editar y eliminar -->
        {% if user.is_authenticated %}
            <p>
                <a href="{% url 'autor:update' autor.pk %}">{% trans "Editar" %}</a> - <a href="{% url 'autor:delete' autor.pk %}">{% trans "Eliminar" %}</a>
            </p>
        {% endif %}
        <p>{% trans "Volver a la" %} <a href="{% url 'autor:list' %}">{% trans "lista de autores" %}</a>.</p>
    {% else %}
        <p>{% trans "Autor no encontrado" %}</p>
        <p>{% trans "Puedes probar de nuevo en la" %} <a href="{% url 'autor:list' %}">{% trans "lista de autores" %}</a>.</p>
    {% endif %}

{% endblock %}
