{% load i18n %}
    <ul>
        <li><a href="{% url 'home' %}">{% trans 'Inicio' %}</a></li>
        <li><a href="{% url 'autor:list' %}">{% trans "Autores" %}</a></li>
        <li><a href="{% url 'libro:list' %}">{% trans "Libros" %}</a></li>
        <li><a href="{% url 'editorial:list' %}">{% trans "Editoriales" %}</a></li>
        <li><a href="{% url 'search' %}">{% trans "Buscar" %}</a></li>
        <li><a href="{% url 'contacto' %}">{% trans "Contacto" %}</a></li>

        {% if user.is_authenticated %}
            <li>{% trans "Usuario logueado" %}: {{ user.username }}</li>
        {% endif %}
    </ul>

    <!-- Esta sección es para mostrar los mensajes usando messages de django-->
    {% if messages %}
        <section class="messages">
            <ul>
                {% for message in messages %}
                    <li class="message {{ message.tags }}"> {{ message}} - {% trans "Categoría" %}: {{ message.tags }} </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
