asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.5
crispy-bootstrap5==2026.3
diff-match-patch==20241021
Django==5.2.12
django-crispy-forms==2.6
django-debug-toolbar==6.2.0
django-extensions==3.2.3
django-grappelli==4.0.3
django-import-export==4.4.0
django-modeltranslation==0.19.0
django-rosetta==0.10.3
idna==3.11
mysqlclient==2.2.8
pillow==12.1.1
polib==1.2.0
requests==2.32.5
ruff==0.0.292
sqlparse==0.5.5
tablib==3.9.0
typing_extensions==4.15.0
urllib3==2.6.3
djangorestframework
markdown
django-filter
psycopg2-binary
gunicorn
drf-spectacular
