{% extends 'general/layout.html' %}

{% block head_title %}Página de búsqueda{% endblock%}
{% block page_title %}Bienvenido a nuestra página de búsqueda{% endblock%}

{% block page_content %}
    <p>Este es el contenido de la página de búsqueda</p>
    {% comment %} <div>
        <form method="get" action="{% url 'search' %}">
            <h2>Buscar Autores, Libros o Editoriales</h2>
            <label for="search">Buscar:</label>
            <input type="text" name="q" placeholder="Buscar..." required value="{{ request.GET.q }}">
            <button type="submit">Buscar</button>
        </form>
    </div> {% endcomment %}

    <div>
        <form action="" method="get">
            {{ formulario.as_p }}
            <button type="submit">Buscar</button>
        </form>
    </div>

    {% if request.GET.q %}
        <div>
            <div>
                <h3>Resultados de la búsqueda para {{ busqueda }}</h3>
                <h4>Autores:</h4>
                {% if autores %}
                    <ul>
                        {% for autor in autores %}
                            <li>{{ autor }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No se encontraron autores.</p>
                {% endif %}
            </div>
            <div>
                <h3>Resultados de la búsqueda:</h3>
                <h4>Libros:</h4>
                {% if libros %}
                    <ul>
                        {% for libro in libros %}
                            <li>{{ libro }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No se encontraron libros.</p>
                {% endif %}
            </div>
            <div>
                <h3>Resultados de la búsqueda:</h3>
                <h4>Editoriales:</h4>
                {% if editoriales %}
                    <ul>
                        {% for editorial in editoriales %}
                            <li>{{ editorial }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No se encontraron editoriales.</p>
                {% endif %}
            </div>
        </div>
    {% endif %}



{% endblock %}