{% extends 'general/layout.html' %}
{% load i18n %}

{% block head_title %}{% trans "Página detalle de Editorial" %}{% endblock%}
{% block page_title %}{% trans "Editorial" %}{% endblock%}

{% block page_content %}
    {% if editorial %}
        <h1>{{ titulo }}</h1>
        <h2> {% trans "Nombre de la editorial" %}: {{ editorial.nombre }} </h2>
        <p>{% trans "Dirección de la editorial" %}: {{ editorial.direccion }} </p>
        <p>{% trans "Email" %}: {{ editorial.email }} </p>
        <p>{% trans "Fecha de fundación" %}: {{ editorial.fecha_fundacion|date:'d/m/y' }} </p>
        <!-- En este bloque estoy validando si fue creado por el usuario para que puedan aparecer los botones de editar y eliminar. Sin embargo, la lógica de si me permite entrar o no la controla el decorador que hice en decorators.py y está insertado en editoriales_views.py-->
        <p> 
            {% if editorial.created_by == user %} 
                <a href="{% url 'editorial:update' editorial.pk %}">{% trans "Editar" %}</a> 
            {% endif %}

            {% if editorial.created_by == user %} 
                - <a href="{% url 'editorial:delete' editorial.pk %}">{% trans "Eliminar" %}</a>
            {% endif %}
        </p>
        <p>{% trans "Volver a la" %} <a href="{% url 'editorial:list' %}">{% trans "lista de editoriales" %}</a>.</p>
    {% else %}
        <p>{% trans "Editorial no encontrada" %}</p>
        <p>{% trans "Puedes probar de nuevo en la" %} <a href="{% url 'editorial:list' %}">{% trans "lista de editoriales" %}</a>.</p>
    {% endif %}

{% endblock %}
